:host {
  display: block;
}

.pb-clients__sub-label {
  font-family: 'Ranade';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #28213599;
}

.pb-clients__label {
  font-size: 68px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 0;
  text-align: center;
}

.pb-clients__description-wrapper {
  background: #FFF2F7;
  border-radius: 32px;
  padding: 32px;
  width: 467px;
}

.pb-clients__description-wrapper--second {
  background: #B7E9FF;
}

.pb-clients__description-wrapper--third {
  background: #A2FFC2;
}

.pb-clients__description {
  font-family: 'Ranade';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
}

.pb-clients__author {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
}

.pb-clients__date {
  font-family: 'Ranade';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

.pb-clients__author-icon {
  width: 66px;
  height: 66px;
}

.pb-clients__pet-img {
  border-radius: 32px;
  width: 260px;
  object-fit: cover;
}

.pb-clients__slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  transition: 200ms;

  &:hover {
    .slick-arrow {
      visibility: visible;
      transition: 200ms;
    }
  }

  .slick-track {
    display: flex;

    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-slide > div {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }

  .slick-list {
    overflow: hidden;
  }

  //.slick-arrow {
  //  transition: 200ms;
  //  position: absolute;
  //  height: 150px;
  //  width: 150px;
  //  font-size: 0;
  //  border-radius: 50%;
  //  top: calc(50% - 75px);
  //  cursor: pointer;
  //  background: #FF3B7F;
  //  color: #fff;
  //  border: 1px solid #FFFFFF33;
  //  visibility: hidden;
  //  z-index: 2;
  //}
  //
  //.slick-arrow:hover {
  //  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  //  transition: 200ms transform;
  //  transform: scale(1.05);
  //}
  //
  //.slick-prev {
  //  left: 200px;
  //}
  //
  //.slick-next {
  //  right: 200px;
  //}
  //
  //.slick-prev:before,
  //.slick-next:before {
  //  color: #fff;
  //  font-family: 'Ranade';
  //  font-size: 18px;
  //  font-weight: 500;
  //  line-height: 28px;
  //  letter-spacing: 0;
  //
  //}
  //
  //.slick-prev:before {
  //  content: "Anterior";
  //}
  //
  //.slick-next:before {
  //  content: "Próximo";
  //}
}