.pb-blog-post {
  padding: 0 84px 160px;
}

.pb-blog-post__image {
  width: 440px;
}

.pb-blog-post__blog-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0;
}

.pb-blog-post__blog-text {
  font-family: 'Ranade';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #28213599;
}

.pb-blog-post__blog-date,
.pb-blog-post__blog-author {
  font-family: 'Ranade';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.pb-blog-post__blog-divider {
  width: 4px;
  height: 4px;
  background: #282135;
  opacity: 0.3;
  border-radius: 50%;
  margin: 0 8px;
}