// Ranade
@font-face {
  font-family: 'Ranade';
  src: url('../fonts/renade/Ranade-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Syne
@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
