.pb-input-wrapper {
  position: relative;
}

.pb-input {
  border: 1px solid #28213533;
  color: #282135cc;
  height: 64px;
  width: 100%;
  border-radius: 100px;
  padding-left: 26px;
  padding-right: 26px;
  font-family: 'Ranade';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  transition: 200ms ease;
  outline: none;

  &:hover:not([disabled]) {
    box-shadow: 0 0 0 1px #a9abad;
    border-color: #a9abad;
  }

  &:focus-visible:not([disabled]),
  &:active:not([disabled]),
  &:focus:not([disabled]) {
    box-shadow: 0 0 0 1px #FF3B7F;
    border-color: #FF3B7F;
  }

  &[disabled] {
    background: #F1F3FB;
  }
}

.pb-input--with-icon {
  padding-left: 71px;
  padding-right: 71px;
}

.pb-input-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  top: calc(50% - 17px);
}

.pb-input-icon--country {
  width: 24px;
  height: 24px;
  top: calc(50% + 4px);
}

.pb-input-icon--left {
  left: 26px;
}

.pb-input-icon--right {
  right: 26px;
}

.pb-input-label {
  font-family: 'Ranade';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  padding-left: 24px;
  margin-bottom: 8px;
}

.pb-input-label--sub {
  color: #28213599;
}