.m-top--none {
  margin-top: 0;
}

.m-right--none {
  margin-right: 0;
}

.m-bottom--none {
  margin-bottom: 0;
}

.m-left--none {
  margin-left: 0;
}

.m-vertical--none {
  margin-top: 0;
  margin-bottom: 0;
}

.m-horizontal--none {
  margin-right: 0;
  margin-left: 0;
}

.m-around--none {
  margin: 0;
}

.m-top--xxx-small {
  margin-top: 2px;
}

.m-right--xxx-small {
  margin-right: 2px;
}

.m-bottom--xxx-small {
  margin-bottom: 2px;
}

.m-left--xxx-small {
  margin-left: 2px;
}

.m-vertical--xxx-small {
  margin-top: 2px;
  margin-bottom: 2px;
}

.m-horizontal--xxx-small {
  margin-right: 2px;
  margin-left: 2px;
}

.m-around--xxx-small {
  margin: 2px;
}

.m-top--xx-small {
  margin-top: 4px;
}

.m-right--xx-small {
  margin-right: 4px;
}

.m-bottom--xx-small {
  margin-bottom: 4px;
}

.m-left--xx-small {
  margin-left: 4px;
}

.m-vertical--xx-small {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-horizontal--xx-small {
  margin-right: 4px;
  margin-left: 4px;
}

.m-around--xx-small {
  margin: 4px;
}

.m-top--x-small {
  margin-top: 8px;
}

.m-right--x-small {
  margin-right: 8px;
}

.m-bottom--x-small {
  margin-bottom: 8px;
}

.m-left--x-small {
  margin-left: 8px;
}

.m-vertical--x-small {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-horizontal--x-small {
  margin-right: 8px;
  margin-left: 8px;
}

.m-around--x-small {
  margin: 8px;
}

.m-top--small {
  margin-top: 12px;
}

.m-right--small {
  margin-right: 12px;
}

.m-bottom--small {
  margin-bottom: 12px;
}

.m-left--small {
  margin-left: 12px;
}

.m-vertical--small {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m-horizontal--small {
  margin-right: 12px;
  margin-left: 12px;
}

.m-around--small {
  margin: 12px;
}

.m-top--medium {
  margin-top: 16px;
}

.m-right--medium {
  margin-right: 16px;
}

.m-bottom--medium {
  margin-bottom: 16px;
}

.m-left--medium {
  margin-left: 16px;
}

.m-vertical--medium {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-horizontal--medium {
  margin-right: 16px;
  margin-left: 16px;
}

.m-around--medium {
  margin: 16px;
}

.m-top--large {
  margin-top: 24px;
}

.m-right--large {
  margin-right: 24px;
}

.m-bottom--large {
  margin-bottom: 24px;
}

.m-left--large {
  margin-left: 24px;
}

.m-vertical--large {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-horizontal--large {
  margin-right: 24px;
  margin-left: 24px;
}

.m-around--large {
  margin: 24px;
}

.m-top--x-large {
  margin-top: 32px;
}

.m-right--x-large {
  margin-right: 32px;
}

.m-bottom--x-large {
  margin-bottom: 32px;
}

.m-left--x-large {
  margin-left: 32px;
}

.m-vertical--x-large {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m-horizontal--x-large {
  margin-right: 32px;
  margin-left: 32px;
}

.m-around--x-large {
  margin: 32px;
}

.m-top--xx-large {
  margin-top: 48px;
}

.m-right--xx-large {
  margin-right: 48px;
}

.m-bottom--xx-large {
  margin-bottom: 48px;
}

.m-left--xx-large {
  margin-left: 48px;
}

.m-vertical--xx-large {
  margin-top: 48px;
  margin-bottom: 48px;
}

.m-horizontal--xx-large {
  margin-right: 48px;
  margin-left: 48px;
}

.m-around--xx-large {
  margin: 48px;
}

.p-top--none {
  padding-top: 0;
}

.p-right--none {
  padding-right: 0;
}

.p-bottom--none {
  padding-bottom: 0;
}

.p-left--none {
  padding-left: 0;
}

.p-vertical--none {
  padding-top: 0;
  padding-bottom: 0;
}

.p-horizontal--none {
  padding-right: 0;
  padding-left: 0;
}

.p-around--none {
  padding: 0;
}

.p-top--xxx-small {
  padding-top: 2px;
}

.p-right--xxx-small {
  padding-right: 2px;
}

.p-bottom--xxx-small {
  padding-bottom: 2px;
}

.p-left--xxx-small {
  padding-left: 2px;
}

.p-vertical--xxx-small {
  padding-top: 2px;
  padding-bottom: 2px;
}

.p-horizontal--xxx-small {
  padding-right: 2px;
  padding-left: 2px;
}

.p-around--xxx-small {
  padding: 2px;
}

.p-top--xx-small {
  padding-top: 4px;
}

.p-right--xx-small {
  padding-right: 4px;
}

.p-bottom--xx-small {
  padding-bottom: 4px;
}

.p-left--xx-small {
  padding-left: 4px;
}

.p-vertical--xx-small {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-horizontal--xx-small {
  padding-right: 4px;
  padding-left: 4px;
}

.p-around--xx-small {
  padding: 4px;
}

.p-top--x-small {
  padding-top: 8px;
}

.p-right--x-small {
  padding-right: 8px;
}

.p-bottom--x-small {
  padding-bottom: 8px;
}

.p-left--x-small {
  padding-left: 8px;
}

.p-vertical--x-small {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-horizontal--x-small {
  padding-right: 8px;
  padding-left: 8px;
}

.p-around--x-small {
  padding: 8px;
}

.p-top--small {
  padding-top: 12px;
}

.p-right--small {
  padding-right: 12px;
}

.p-bottom--small {
  padding-bottom: 12px;
}

.p-left--small {
  padding-left: 12px;
}

.p-vertical--small {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-horizontal--small {
  padding-right: 12px;
  padding-left: 12px;
}

.p-around--small {
  padding: 12px;
}

.p-top--medium {
  padding-top: 16px;
}

.p-right--medium {
  padding-right: 16px;
}

.p-bottom--medium {
  padding-bottom: 16px;
}

.p-left--medium {
  padding-left: 16px;
}

.p-vertical--medium {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-horizontal--medium {
  padding-right: 16px;
  padding-left: 16px;
}

.p-around--medium {
  padding: 16px;
}

.p-top--large {
  padding-top: 24px;
}

.p-right--large {
  padding-right: 24px;
}

.p-bottom--large {
  padding-bottom: 24px;
}

.p-left--large {
  padding-left: 24px;
}

.p-vertical--large {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-horizontal--large {
  padding-right: 24px;
  padding-left: 24px;
}

.p-around--large {
  padding: 24px;
}

.p-top--x-large {
  padding-top: 32px;
}

.p-right--x-large {
  padding-right: 32px;
}

.p-bottom--x-large {
  padding-bottom: 32px;
}

.p-left--x-large {
  padding-left: 32px;
}

.p-vertical--x-large {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-horizontal--x-large {
  padding-right: 32px;
  padding-left: 32px;
}

.p-around--x-large {
  padding: 32px;
}

.p-top--xx-large {
  padding-top: 48px;
}

.p-right--xx-large {
  padding-right: 48px;
}

.p-bottom--xx-large {
  padding-bottom: 48px;
}

.p-left--xx-large {
  padding-left: 48px;
}

.p-vertical--xx-large {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-horizontal--xx-large {
  padding-right: 48px;
  padding-left: 48px;
}

.p-around--xx-large {
  padding: 48px;
}